/.idea/
/.venv/
/.git/
devops-engineer-basics/5-continuous-delivery/configure-skillbox-deploy-blue-green/ansible-config-management/.ansible-vault-pass.txt
devops-engineer-basics/5-continuous-delivery/configure-skillbox-deploy-blue-green/ansible-config-management/hosts
devops-engineer-basics/5-continuous-delivery/configure-boxfuse-sample-java-war-hello/ansible-config-management/.ansible-vault-pass.txt
devops-engineer-basics/5-continuous-delivery/configure-boxfuse-sample-java-war-hello/ansible-config-management/hosts